<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SEO">
    <!--<test name="RS">-->
        <!--<parameter name="domainProd" value="rus-supermarket.ru"/>-->
        <!--<parameter name="domainStage" value="rusupermarket-staging.azurewebsites.net"/>-->
        <!--<classes>-->
            <!--<class name="Assert.SEO"></class>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="VM">-->
        <!--<parameter name="domainProd" value="vse-magazini.ru"/>-->
        <!--<parameter name="domainStage" value="vse-magaziny-staging.azurewebsites.net"/>-->
        <!--<classes>-->
            <!--<class name="Assert.SEO"></class>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="P">-->
        <!--<parameter name="domainProd" value="pochom.ru"/>-->
        <!--<parameter name="domainStage" value="pochom.ru"/>-->
        <!--<classes>-->
            <!--<class name="Assert.SEO"></class>-->
        <!--</classes>-->
    <!--</test>-->
    <test name="PT">
        <parameter name="domainProd" value="product-test.ru"/>
        <parameter name="domainStage" value="staging.product-test.ru"/>
    <classes>
    <class name="Assert.SEO"></class>
    </classes>
    </test>

</suite>